@import '../App.scss';


.all-comp-container {
    margin: 15px 115px;
}

.bold-text {
    font-weight: bold;
}

.my-2 {
    margin: 10px 0;
}

.three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    .one {
        margin: 0 55px;

        .para2 {
            padding-left: 25px;
            margin-bottom: 20px;
        }

    }


   

    .text {
        font-size: 16px;
        color: #1B88F4;

    }

    

    .two {
        width: 135px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        // margin-top: 20px;
        div{
            background: #F3F9FF;
            
            .no {
                color: $rating;
                font-size: 32px;
            }
            
            .tx2 {
                font-size: 14px;
                color: $rating;
            }
            
            
        }
        .btn {
            color: white;
            padding: 10px;
            width: 150px;
            border-radius: 12px;
            border: none;
            background: $color2;
            margin-top: 100px;
            
        }
    }

}
img{
    width: 170px;
}
.t{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}