@import '../App.scss';

.comp2 {
    display: flex;
    margin: 15px 115px;


    .star {
        color: yellow;
    }

    .rating {
        font-size: 32px;
        color: $rating;
        ;
    }

    .a {
        font-size: 14px;
    }

    button {
        height: 40px;
        color: white;
        padding: 10px;
        width: 180px;
        border-radius: 12px;
        border: none;
        background: $color2;

    }

    .co {
        display: flex;
        flex-direction: column;
        margin: 15px 115px;
    }

    .of {
        background: rgb(239, 234, 234);
        width: 70px;
    }
    img{
        width: 170px;
    }
    .t{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .three{
        display: flex;
        flex-direction: column;

    }
}