@import '../App.scss';
.comp2{
display: flex;

    .chkbox{
        flex-direction: column;
        display: flex;
    }
    .star{
        color: yellow;
    }
    .rating{
        font-size: 32px;
        color: $rating;
        ;
    }
    .a{
        font-size: 14px;
    }
    button{
    height: 40px;
    color: white;
    padding: 10px;
    width: 180px;
    border-radius: 12px;
    border: none;
    background: $color2;
    
    }
}