@import '../App.scss';

.deal{
    // height: 125px;
    width: 333px;
   
    margin: auto;
    .dis{
        background-color:rgb(244, 239, 239);
        width: 69px;
        justify-content: center;
        display: flex;    
    }
    
    .oftxt{
        display: flex;
    }
    .num{
        display: flex;
    
    }
    .p1{
        font-size: 20px;
    }
    .p2{
        font-size: 14px;
         color: #9FA9B3;
        width: 40px;
    }
    .of{
        color: red;
        font-size: 13px;
    }
    button{
        color: white;
        padding: 10px;
        width: 200px;
        border-radius: 12px;
        border: none;
         background: $color2;
        ;
    }
}