.info{
    // height: 155px;
    font-size: 14px;
    padding: 0 115px;
    
    p{
        margin-top: 40px;
        font-size: 48px;
        color: #2C384A;

    }

    div{
        display: flex;
        justify-content: space-between;
    }

    ul{
        display: flex;
        list-style-type: none;
        margin-top: 30px;
        gap: 10px;
    }
}