.info{
    height: 155px;
    font-size: 14px;
    
    p{
        margin-left: 100px;
        margin-top: 40px;
        font-size: 48px;
        color: #2C384A;

    }

    ul{
        display: flex;
        list-style-type: none;
        margin-left: 100px;
        margin-top: 30px;
        gap: 10px;
    }
    #check{
        font-size: 8px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}