.tools-container {
    margin: 15px 115px;

    .tool {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        font-size: 13px;
        color: #4B5665;
        gap: 80px;
        // margin-top: 40px;
    }
}